<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros Tracker</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="team" class="section bg-gray-100">
        <div class="container-fluid">
            <div class="row section-heading justify-content-center text-center wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="col-lg-8 col-xl-6">
                    <h3 class="h1 bg-primary-after after-50px pb-3 mb-3 mt-5">
                        <img src="https://images.vexels.com/media/users/3/242555/isolated/preview/3236dda9ad7dc9905f870dae152ca56a-elementos-de-pegatinas-de-regreso-a-la-escuela-9.png" 
                             class="avatar sm rounded-pill flex-shrink-0" alt="Libro">
                        Tracker de libros
                        <img src="https://images.vexels.com/media/users/3/242555/isolated/preview/3236dda9ad7dc9905f870dae152ca56a-elementos-de-pegatinas-de-regreso-a-la-escuela-9.png" 
                             class="avatar sm rounded-pill flex-shrink-0" alt="Libro">
                    </h3>
                </div>
            </div>
            <div class="">
                <div class="col-12 mb-3 mb-lg-5">
                    <div class="d-flex justify-content-center my-3">
                        <div class="input-group w-auto" style="min-width: 500px;">
                            <select class="form-select" id="tipoFiltro">
                                <option value="titulo">Título</option>
                                <option value="autor">Autor</option>
                                <option value="genero">Género</option>
                                <option value="mes">Finalización (mes - año)</option>
                                <option value="año">Finalización (año)</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Buscar..." id="valorFiltro">
                            <button class="btn btn-primary" id="btnFiltrar">Filtrar</button>
                        </div>
                    </div>
                    <div class="overflow-hidden card table-nowrap table-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Mis libros</h5>
                            <button class="btn btn-success btnRegistro" onclick="activarRegistro()"><i class="bi bi-plus-square"></i></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="small text-uppercase bg-body text-muted">
                                    <tr>
                                        <th>Título</th>
                                        <th>Autor</th>
                                        <th>Género</th>
                                        <th>Año</th>
                                        <th>Finalización</th>
                                        <th>Valoración</th>
                                        <th class="text-end">Editar - Borrar</th>
                                    </tr>
                                </thead>
                                
                                <tbody id="tabla-libros"></tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!-- JS -->
    <script src="/js/libros.js"></script>
</body> 